# subtracting sheared correlated noise
reredux_config: "v10"

reredux_githash: "19c096eaf5db1963fc82308c41154141ab09ca32"
# simobs branch
ngmix_githash: "f65bfd991bbd8d03b66e594aa237fb28f2b02eb4"
# simobs branch
ngmixer_githash: "4050c95e93cf02f51095f27e8bb1a50145191546"

global_seed: 5018
subn_nrand: 1

fitter_type: "metacal-subn-ngmix-boot"
imageio_type: "meds-simp-sim"

fit_me_galaxy: True
fit_coadd_galaxy: False

model_nbrs: False
psf_ind_field: 'psf_id'

region: "weight"

min_weight: 1.0e-4

print_params: True

# find the center and reset the jacobians
pre_find_center: False

do_shear: False

psf_pars:
  model: 'em3'
  ntry: 20
  maxiter: 5000
  tol: 5.0e-6

max_pars:
  method: 'lm'
  ntry: 2
  
  lm_pars:
    maxfev: 4000

replace_cov: False

round_pars:
  fitter_type: 'max'


metacal_pars:
  step: 0.01

use_logpars: True

model_pars:
  exp:
    g:
      type: "ba"
      sigma: 0.3

    T:
      type: "gmixnd"

      # ngauss=20 and logT range [-7,2]
      file: "${REREDUX_OUTPUTS_DIR}/max-v05d01/fitprior/max-v05d01-fitprior-log_T.fits"

      cov_factor: 1.44

    counts:
      type: "gmixnd"

      file: "${REREDUX_OUTPUTS_DIR}/max-v05d01/fitprior/max-v05d01-fitprior-log_F.fits"

      cov_factor: 1.44


    cen:
      type: "dgauss"
      width: 0.27

time_per: 6.0

nper: 1000

# checkpoint times in minutes, needed for condor in case we pass a batch system
# limit such as in the condor scavenge.
# 0 means after the first object

# checkpoints for lsf
checkpoints: [0,
              30,60,
              90,120, 
              150,180,
              210,240,
              270,300,
              330,360,
              390,420]
