# temporary hack in ngmixer to make up for galsim wcs bug writing
# to meds
reredux_config: "v003"
sim_type: "wombat"
psfs_in_file: True

reredux_githash: "474a9e0f769a1e9ea28887e36c29ac8df6592593"
# metacalwcs branch
ngmix_githash: "ce45edd4cff3382953bd9f75b25ce874ae86ec87"
# tmpfixwcs branch
ngmixer_githash: "757e0ff5061ef75dbbcca21aad9414418c18c2a2"

global_seed: 1118

fitter_type: "metacal-ngmix-boot"
imageio_type: "meds-simp-sim"


fit_me_galaxy: False
fit_coadd_galaxy: True
use_coadd_prefix: False

model_nbrs: False
psf_ind_field: 'psf_id'

region: "weight"

min_weight: 1.0e-4

print_params: True

# find the center and reset the jacobians
#pre_find_center: True
pre_find_center: False

do_shear: False

psf_pars:
  model: 'gauss'
  ntry: 5

max_pars:
  method: 'lm'
  ntry: 2
  
  lm_pars:
    maxfev: 4000

replace_cov: False

round_pars:
  fitter_type: 'max'


metacal_pars:
  step: 0.01
  fixnoise: True
  rotnoise: True
  wcs_convention: 2

use_logpars: True

model_pars:
  gauss:
    g:
      type: "ba"
      sigma: 0.3

    T:
      type: "TwoSidedErf"
      pars: [-10.0, 1.0, 15.0, 1.0]

    counts:
      type: "TwoSidedErf"
      pars: [-10.0, 1.0, 15.0, 1.0]
      repeat: True

    cen:
      type: "dgauss"
      width: 0.27

time_per: 1.0

# all is 10000
nper: 1000

# checkpoint times in minutes, needed for condor in case we pass a batch system
# limit such as in the condor scavenge.
# 0 means after the first object

# checkpoints for lsf
checkpoints: [0,
              30,60,
              90,120, 
              150,180,
              210,240,
              270,300,
              330,360,
              390,420]
